pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.DS_Store
.idea/*
.clj-kondo/*
.calva/*
app/.calva/*
app/.DS_Store
app/content/.DS_Store
app/resources/.DS_Store
app/resources/config.edn
app/test/app/.DS_Store
app/src/viewer/.DS_Store
app/content/source/.DS_Store
app/resources/public/.DS_Store
app/resources/public/img/.DS_Store
app/resources/public/js/.DS_Store
app/resources/public/vendors/.DS_Store
app/resources/public/image/*
app/src/.DS_Store
app/src/clj/app/.DS_Store
app/resources/template/.DS_Store
app/content/source/sabda/.DS_Store
app/.idea/*
app/app.iml
app/.clj-kondo/
app/.lsp/
app/.lein-git-deps/
.clj-kondo/
.lsp/
*.iml
app/app.iml
*.iml
app/app.iml
app/target/*
app/content/target/.DS_Store
app/resources/public/js/compiled/*
app/content/target/sabda/.DS_Store

app/content/target/calvin/*
app/src/clj/app/generator/calvin/*
app/content/source/calvin/*
app/.calva/*

app/content-selection/*
app/palindrome.edn
app/content/target/mbe/*
app/resources/public/MathJax

app/content-legacy/*