
{:template-id "0337ee159fe14449b380c83398ade002", :topic :biology}

==sepa==
<p>
    {{intro}}
<br><br>
    {{pernyataan}}
<br><br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} 
 
==sepa==

<p>
Protein berasal dari bahasa Yunani <i>proteios</i> yang berarti "barisan pertama". <br>
Senyawa ini merupakan komponen utama sel dalam pembentukan dan pertumbuhan tubuh. <br>
Protein disusun oleh asam amino. Dua atau lebih asam amino dapat berikatan membentuk ikatan peptida. Jika asam amino berikatan, maka akan terbentuk $\operatorname{H_2O}$ dari proses kondensasi. Ikatan peptida dapat diputus oleh bantuan enzim protease. <br>
Dua asam amino yang berikatan disebut dipeptida dan lebih dari dua asam amino yang berikatan disebut polipeptida. Banyak polipeptida yang berikatan akan terbentuk protein.													
</p>		