
{:template-id "0337efcab2694e429307d6f8e5aef554", :topic :biology}

==sepa==
<p>
    {{intro}}
<br><br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}
 
==sepa==

<p>
Di dalam tubuh, protein pertama kali dicerna di dalam lambung dengan bantuan enzim pepsin. <br>
Saat meninggalkan lambung, protein berbentuk proteosa, pepton, dan polipeptida. Kemudian saat memasuki usus, ketiga bentuk tersebut bercampur dengan tripsin dan kimotripsin yang mengubahnya menjadi polipeptida yang lebih kecil. <br>
Peptidase melepas ikatan-ikatan pada polipeptida berukuran kecil tersebut menjadi asam amino. <br>
Melihat fungsinya yang sangat penting, tubuh membutuhkan asupan asam amino yang cukup. <br><br>

Setidaknya, dibutuhkan $20$ jenis asam amino yang dibutuhkan oleh tubuh. <br>
Namun, tidak semua asam amino tersebut dapat dibuat oleh tubuh manusia. Asam amino yang tidak dapat dibuat dalam tubuh disebut asam amino esensial. Sementara, asam amino yang dapat dibuat dalam tubuh disebut asam amino non-esensial. 					
</p>		