
{:template-id "0337efca20794206b826ac293a30744d", :topic :biology}

==sepa==
<p>
    {{intro}}
<ol>
    <li>{{isi1}} </li>
    <li>{{isi2}} </li>
    <li>{{isi3}} </li>
</ol>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}
 
==sepa==

<p>
Asam amino memiliki gugus asam ($\operatorname{COOH}$) dan gugus amina ($\operatorname{NH_2}$). <br>
Urutan asam amino dapat menentukan jenis protein. <br>
Terdapat $20$ jenis asam amino dan R-<i>group</i> dapat diubah sesuai jenis asam amino. <br>
Tingkatan struktur protein terbagi dari struktur primer, struktur sekunder, struktur tersier, dan struktur kuartener. <br>
Struktur primer berbentuk untaian dan digunakan sebagai protein filamen. <br>
Struktur sekunder berbentuk alfa-heliks dan beta-<i>sheet</i> (lembaran). Struktur sekunder digunakan sebagai protein filamen. <br>
Struktur tersier berbentuk protein globular. Protein jenis ini digunakan untuk hormon dan enzim. <br>
Struktur kuartener adalah protein yang memiliki leboh dari satu polipeptida.								
</p>			