
{:template-id "03375a08b1d04c35a867de1b8067819e", :topic :biology}

==sepa==
<p>
    {{intro}}
<br><br>
    {{pernyataan}}
<br><br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} 
 
==sepa==

<p>
Fosfolipid merupakan salah satu golongan lemak yang menyusun membran sel makhluk hidup. <br>
Membran sel tersusun dari fosfolipid bilayer.
Fosfolipid terdiri atas dua rantai asam lemak dan satu rantai yang berikatan dengan fosfat. <br>
Bagian lipid dan gliserol (kepala) bersifat hidrofilik. Sementara, bagian asam lemak (ekor) bersifat hidrofobik.								
</p>		