
{:template-id "0337ecd90a824e5cab5d27c1f139adca", :topic :biology}

==sepa==
<p>
    {{intro}}
<br><br>
    {{pernyataan}}
<br><br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} 
 
==sepa==

<p>
Berdasarkan ikatannya, glukosa dibagi menjadi dua, yaitu alfa-glukosa dan beta-glukosa. <br>
Alfa-glukosa adalah glukosa yang mudah dipecah. Contohnya adalah glikogen. <br>
Sementara, beta-glukosa adalah glukosa yang susah dipecah. Contohnya adalah selulosa. <br>
Perbedaan alfa dan beta-glukosa adalah letak $\operatorname{H}$ dan $\operatorname{OH}$ pada atom $\operatorname{H}$ nomor $1$.				
</p>		