
{:template-id "0337efcacf9d4346b099efa7cd95f288", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    {{pernyataan}}
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} 
 
==sepa==

<p>
Lipid adalah ester gliserida dengan atom karbon lebih dari 10. <br>
Salah satu turunan lemak adalah steroid, yaitu turunan lemak yang tidak megandung gugus asam lemak dan gugus ester. <br>
Contoh steroid adalah hormon, seperi estrogen dan testosteron. Kolesterol juga termasuk steroid. <br>
<br>
Nah, lipid itu terbentuk dari reaksi esterifikasi antara asam lemak dan gliserol. <br>
Asam lemak dibagi menjadi 2, yaitu asam lemak jenuh dan tak jenuh. <br>
Asam lemak jenuh yaitu asam lemak yang memiliki ikatan karbon tunggal dan ia berwujud solid pada suhu ruang. <br>
Sedangkan, asam lemak tak jenuh adalah asam lemak yang memiliki ikatan karbon ganda dan ia berwujud cair pada suhu ruang.	
</p>			