
{:template-id "033ba042a6204cdd92c74284e58accc1", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}
 
==sepa==

<p>
Archaea dan bakteri memiliki cara reproduksi yang sama, yaitu secara aseksual dan pertukaran gen (rekombinasi genetik/DNA). <br>
Reproduksi aseksual dilakukan dengan pembentukan tunas, pembelahan biner, dan fragmentasi. <br>
Reproduksi aseksual menghasilkan sel anakan yang sama persis dengan induknya dan terjadi di lingkungan yang menguntungkan. <br>
Nah, kita bahas fragmentasi, ya. <br>
<br>
Fragmentasi adalah pemutusan bagian tubuh bakteri untuk membentuk individu baru menjadi fragmen-fragmen. <br>
Pada organisme yang lebih kompleks, seperti koloni bakteri, fragmentasi terjadi pada sekelompok sel menjadi kelompok-kelompok yang lebih kecil.														
</p>		