
{:template-id "033b9f171daf41a78c788350dde6a8c2", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}
 
==sepa==

<p>
Archaea dan bakteri memiliki cara reproduksi yang sama, yaitu secara aseksual dan pertukaran gen (rekombinasi genetik/DNA). <br>
Reproduksi aseksual dilakukan dengan pembentukan tunas, pembelahan biner, dan fragmentasi. <br>
Reproduksi aseksual menghasilkan sel anakan yang sama persis dengan induknya dan terjadi di lingkungan yang menguntungkan. <br>
Sekarang kita bahas pembelahan biner dulu, ya. <br>
<br>
Pembelahan biner adalah reproduksi bakteri dengan cara membelah diri dari satu sel menjadi dua, empat, delapan, dst. Pembelahan biner terjadi dalam jangka waktu 1-3 jam dan membelah setiap 20 menit. <br>
Tahapan pembelahan biner diawali dengan replikasi materi genetik bakteri. Setelah mengalami replikasi materi genetik, sel bakteri memanjang. Lalu terbentuk <i>septum</i>, yaitu lekukan dinding sel sebelum sel bakteri membelah menjadi dua. Setelah itu terbentuk dua individu baru sel bakteri.									
</p>		