
{:template-id "0338dcf7d199415c8b9b21eabaa676be", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    {{pernyataan}}
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} 
 
==sepa==

<p>
Tumbuhan pertama kali hidup di lingkungan akuatik. <br>
Tumbuhan akuatik pertama adalah alga. <br>
Transisi tumbuhan dari lingkungan akuatik ke terestrial adalah munculnya paku dan lumut. <br>
Paku dan lumut sudah memiliki pembuluh vaskular. <br>
Kemudian, pada lingkungan terestrial muncul tumbuhan berbiji.							
</p>		