
{:template-id "0339c7c7e4c64f5c95ce0f802c198d70", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    1. {{isi1}} <br>
    2. {{isi2}} <br>
    3. {{isi3}} <br>
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}
 
==sepa==

<p>
Amniotes adalah kelompok tetrapod (hewan yang memiliki 4 tungkai) yang memiliki anggota reptil (termasuk burung) dan mamalia. <br>
Selama terjadi evolusi, Amniotes adalah suatu bentuk adaptasi untuk hidup di daratan. <br>
Amniotes adalah nama untuk karakter yang terspesialisasi pada <i>clade</i>, yaitu <i>amniotic egg</i>, yang terdiri dari empat membran terspesialisasi, yaitu <i>amnion</i>, <i>chorion</i>, <i>yolk</i>, dan <i>allantois</i>. <br>
Ini disebut <i>extraembyonic membranes</i> karena bagian tersebut bukan bagian dari embrio itu sendiri, membran tersebut adalah perkembangan dari lapisan jaringan embrio yang tumbuh ke luar. <br>
Berikut adalah struktur dari <i>amniotic egg</i>. <br>
1. <i>Amnion</i> <br>
2. <i>Allantois</i> <br>
3. <i>Chorion</i> <br>
4. <i>Yolk sac</i> <br>
5. Kuning telur (<i>yolk</i>) <br>
6. <i>Albumen</i> <br>
7. Cangkang <br>
8. Ruang <i>amniotic</i> <br>
9. Cairan ketuban (<i>amniotic fluid</i>) <br>
10. Embrio				
</p>			