
{:template-id "03396fea349c4fc799ce0530ee295c1f", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    {{pernyataan}}
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} 
 
==sepa==

<p>
Condrichthyes merupakan ikan tulang rawan yang memiliki rahang dan masuk dalam kelompok Chordata. <br>
Contoh spesies dari Condrichthyes adalah ikan hiu dan ikan pari. <br>
Condrichthyes memiliki organ-organ sensoris khusus pada tubuhnya sebagai berikut. <br>
1. <i>Lateral line system</i> dan <i>electro-receptor</i> <br>
   Organ ini berfungsi sebagai organ pendengaran atau organ pengganti telinga. <br>
   <i>Lateral line system</i> berfungsi untuk mendeteksi getaran. <br>
   <i>Electro-receptor</i> berfungsi untuk mendeteksi aliran listrik. <br>
2. Mata <br>
   Mata Condrichthyes memiliki daya penglihatan yang tajam.															
</p>		