
{:template-id "033b9fd34e944d09b10180f6d530978d", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}
 
==sepa==

<p>
Archaea dan bakteri memiliki cara reproduksi yang sama, yaitu secara aseksual dan pertukaran gen (rekombinasi genetik/DNA). <br>
Reproduksi aseksual dilakukan dengan pembentukan tunas, pembelahan biner, dan fragmentasi. <br>
Reproduksi aseksual menghasilkan sel anakan yang sama persis dengan induknya dan terjadi di lingkungan yang menguntungkan. <br>
Sekarang kita bahas pembentukan tunas, ya. <br>
<br>
Pembentukan tunas yaitu bakteri membentuk tunas pada selnya, yang nantinya ia akan melepaskan dan memisahkan diri ketika sudah matang. <br>
Pembentukan tunas diawali dengan membentuk tunas dalam bentuk ranting. Kemudian, tunas dalam bentuk ranting tersebut akan membuat badan bakteri dan membentuk bakteri baru. Hasil sel anakan berukuran lebih kecil dibandingkan dengan sel induk.											
</p>		