
{:template-id "0339c789b44c4e9ea7af0c96b0f91095", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    1. {{isi1}} <br>
    2. {{isi2}} <br>
    3. {{isi3}} <br>
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}
 
==sepa==

<p>
Reptilia merupakan jenis amniota bersisik yang berperan sebagai pelindung dan menjaga agar tidak dehidrasi. <br>
Sisik adalah adaptasi pada kehidupan terestrial dan mampu melakukan pergantian kulit secara berkala. <br>
Amniota berarti telurnya sudah memiliki cangkang keras sehingga terhindar dari goncangan. <br>
Reptil disebut berdarah dingin karena tidak menggunakan metabolisme secara ekstensif untuk mengendalikan suhu tubuh.  <br>
Reptil hidup pada lingkungan terestrial dan bernapas menggunakan paru-paru. <br>
Reptil melakukan fertilisasi internal dan bersifat ovipar. Selain itu, kelompok ini juga memiliki empat tungkai, kecuali ular.								
</p>			