
{:template-id "0338dcf7bb5b4fc1b3f346cd4cfd0423", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    {{pernyataan}}
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} 
 
==sepa==

<p>
Alasan tumbuhan akuatik migrasi ke daerah terestrial adalah sebagai berikut.<br>
1. Saingan di darat lebih sedikit. <br>
2. Mengisi relung daratan. <br>
3. Cahaya matahari dapat menyinari seluruh permukaan daratan. <br>
Pada lingkungan akuatik, cahaya matahari hanya mencapai zona tertentu saja. <br>
Zona afotik adalah zona yang letaknya paling bawah atau dasar. Zona ini tidak dapat ditembus cahaya matahari, sehingga selalu dalam kegelapan. <br>
Sedangkan zona fotik, litoral, dan limnetik adalah zona yang terletak di atas zona afotik. Zona-zona ini masih mendapat cahaya matahari.										
</p>		