
{:template-id "033ba0c7a134417387a6d16040d4cc23", :topic :biology}

==sepa==
<p>
    {{intro}}
<br>
    {{pernyataan}}
<br>
    {{soal}}
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} 
 
==sepa==

<p>
Pertukaran gen pada bakteri dan archaea dibagi menjadi tiga, yaitu transformasi, transduksi, dan konjugasi. <br>
Pertukaran gen terjadi saat bakteri berada di lingkungan yang kurang menguntungkan atau lingkungan ekstrem dan sifat anak yang dihasilkan berbeda dengan induknya. <br>
Transformasi adalah proses bakteri mendapatkan DNA lain dari lingkungan sekitarnya. Ia akan mengambil DNA ke dalam tubuhnya dari bakteri lain yang masih berkerabat dengannya. Sifat bakteri akan berubah karena terbentuk DNA rekombinan. Hasil transformasi tersebut adalah sel rekombinan, yaitu kromosom yang mengandung DNA dari dua sel yang berbeda. <br>
<br>
Transduksi merupakan cara bakteri mendapatkan DNA dari bakteriofag yang sudah menginfeksi bakteri lain, sehingga DNA virus dari sel bakteri pertama (donor) akan menyatu dengan DNA bakteri inang (resipien). Terdapat dua jalur proses, yaitu litik dan lisogenik. <br>
Bakteri akan mati jika melalui proses litik karena sel bakteri pecah. Namun, jika virus melakukan reproduksi secara lisogenik, materi genetik virus yang sudah bergabung dengan sel bakteri pertama (donor) akan turut mengganda seiring dengan pembelahan bakteri inang (resipien), sehingga bakteri inang akan terbentuk DNA rekombinan.  <br>
<br>
Sedangkan konjugasi adalah proses perpindahan DNA dari satu bakteri ke bakteri lainnya. <br>
Bakteri akan membentuk jembatan tipis berupa protein yang disebut pilus. Pilus akan menghilang jika proses transfer selesai.																		
</p>		