
{:template-id "03362ce2fd4c4f0083f44cc50973da9b", :topic :biology}

==sepa==
<p>
  {{intro}}
 </p>

 <p>
   {{soal}}
 </p>
 
 ==options==
 
 true::{{pb}} ==
 false::{{p1}} ==
 false::{{p2}} ==
 false::{{p3}}
 
 ==sepa==
 
 Homologi merupakan salah satu bukti dari adanya evolusi. <br>
 Homologi adalah kesamaan pada beberapa spesies yang dihasilkan dari leluhur yang sama. <br>
 Salah satu contoh homologi adalah tungkai pada lengan manusia memiliki struktur dan susunan yang sama dengan sayap burung dan sirip paus, walaupun semua struktur tersebut memiliki fungsi yang berbeda. <br>
 Analogi merupakan bukti evolusi yang terdapat pada beberapa spesies berbeda dan dihasilkan dari leluhur yang berbeda. <br>
 Analogi dipengaruhi akibat adanya adaptasi terhadap lingkungan yang sama yang dilakukan oleh spesies yang berbeda. Analogi menghasilkan fungsi yang sama pada spesies yang berbeda namun spesies tersebut bukanlah berasal dari leluhur yang sama.				